@font-face {
    font-family: yekan;
    src: url("../font/yekan-font/Yekan.woff");
    src: url("../font/yekan-font/Yekan.ttf");
}

*{
    font-family: yekan;
}

:root{
    --primary-color:#58f7ff;
    --secondary-color: #3cff00;
    --tertiary-color: #ff8c69;
}

*{
    font-family: yekan;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    text-align: center;
}

h2{
    margin: 100px auto;
    margin-bottom: 30px;
}

label{
    background-color: #1e7bd8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.box{
    background-color: springgreen;
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border-radius: 8px;
    animation: rotate 4s linear infinite alternate,
    move 4s linear infinite alternate, 
    colorChange 4s ease-in infinite alternate;
    animation-composition: accumulate;
    animation-fill-mode: forwards;
}

#toggle:checked ~ .box{
    animation-play-state: paused;
}
#toggle{
    display: none;
}

@keyframes rotate {
    from{ transform: rotate(0);}
    to{ transform: rotate(360deg);}
}
@keyframes move {
    from{ transform: translateX(0);}
    to{ transform: translateX(150px);}
}
@keyframes colorChange {
    from{ background-color: crimson;}
    to{ background-color: teal;}
}