@font-face {
    font-family: yekan;
    src: url("../font/yekan-font/Yekan.woff");
    src: url("../font/yekan-font/Yekan.ttf");
}

*{
    font-family: yekan;
}

:root{
    --primary-color:#58f7ff;
    --secondary-color: #3cff00;
    --tertiary-color: #ff8c69;
    --quaternary-color: #ff0000;
    --quinary-color: #0000ff;
    --senary-color: #000000;
    --septenary-color: #ffffff;

}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 100px 100px;
    align-content: center;
    width: 550px;
    height: 450px;
    border: 2px solid;
    text-align: center;
    background: #eee;
    gap: 10px;
    padding: 5px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background:red;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
}

.item img{
    height: 100%;
    object-fit: cover;
}

.item:first-child{
    background-color: var(--tertiary-color);
}
.item:nth-child(2){
    background-color: var(--secondary-color);
}
.item:nth-child(3){
    background-color: var(--primary-color);
}
.item:nth-child(4){
    background-color: var(--senary-color);
}
.item:nth-child(5){
    background-color: var(--quinary-color);
}
.item:last-child{
    background-color: var(--quaternary-color);
}