// /*
// | EACH LOOP
// |--------------------------------------------------------------------------
// | تولید کلاس های رنگی
// |--------------------------------------------------------------------------
// */

$colors: (
  primary: #4f46e5,
  success: #22c55e,
  danger: #ef4444,
  warning: #f59e0b,
  other: #8b5cf6  //violet-500
);

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }
}

// /*
// | FOR LOOP
// |--------------------------------------------------------------------------
// | تولید Utility Class ها
// |--------------------------------------------------------------------------
// */

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: $i * 10px;
  }
}